<div class="container">
    <h2 id="my-info-title" class="text-center">Sign up for our newsletter</h2>
    <div class="text-center">
        Sign up for our newsletter to get new and exciting updates!
    </div>
    <form name="signupForm" novalidate>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName"
                   ng-model="signupCtrl.user.firstName"
                   required
                   minlength="2"
                   placeholder="First Name">
        </div>
        <span class="text-danger"
              ng-if="(signupForm.firstName.$error.required ||  signupForm.firstName.$error.minlength)
              && signupForm.firstName.$touched">First Name should be at least 2 characters.</span>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName"
                   ng-model="signupCtrl.user.lastName"
                   required
                   minlength="2"
                   placeholder="Last Name">
        </div>
        <span class="text-danger"
              ng-if="(signupForm.lastName.$error.required ||  signupForm.lastName.$error.minlength)
              && signupForm.lastName.$touched">Last Name should be at least 2 characters.</span>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email"
                   ng-model="signupCtrl.user.email"
                   required
                   placeholder="Email">
        </div>
        <span class="text-danger"
              ng-if="signupForm.email.$invalid && signupForm.email.$touched">Email is not valid.</span>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone"
                   ng-model="signupCtrl.user.phone"
                   pattern="(\d{3})-(\d{3})-(\d{4})"
                   placeholder="Phone ###-###-####">
        </div>
        <span class="text-danger"
              ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">Phone must be in format ###-###-####.</span>
        <div class="form-group">
            <label for="menuNumber">Menu Number</label>
            <input type="text" class="form-control" name="menuNumber" id="menuNumber"
                   ng-model="signupCtrl.menuNumber"
                   placeholder="Menu Number">
        </div>
        <button type="button" class="btn btn-default"
                ng-click="signupCtrl.submit()"
                ng-disabled="signupForm.$invalid">Submit</button>
        <span class="text-danger"
              ng-if="signupCtrl.signupError">No such menu number exists.</span>
        <span ng-if="signupCtrl.signupSuccess">Your information has been saved.</span>
    </form>
</div>